# ca65 linker config for 256k sfc rom

# Physical areas of memory
MEMORY {
    REGISTERS:  start =  $000000, size = $0020;
    ZEROPAGE:   start =  $000020, size = $00E0;
    HIRAM1:     start =  $7E2000, size = $E000;
    HIRAM2:     start =  $7F0000, size =$10000;
    RAM:        start =  $800100, size = $1E00;
    SRAM:       start =  $806000, size = $2000;

    # hi/fastROM
    ROM0:       start =  $C00000, size =  $8000, fill = yes;
    INIT:       start =  $C08000, size =  $1000, fill = yes;
    SE:         start =  $809000, size =  $7000, fill = yes;

    ROM01:      start =  $C10000, size = $10000, fill = yes;
    ROM02:      start =  $C20000, size = $10000, fill = yes;
    ROM03:      start =  $C30000, size = $10000, fill = yes;
    ROM04:      start =  $C40000, size = $10000, fill = yes;
    ROM05:      start =  $C50000, size = $10000, fill = yes;
    ROM06:      start =  $C60000, size = $10000, fill = yes;
    ROM07:      start =  $C70000, size = $10000, fill = yes;
    ROM08:      start =  $C80000, size = $10000, fill = yes;
    ROM09:      start =  $C90000, size = $10000, fill = yes;
    ROM0A:      start =  $CA0000, size = $10000, fill = yes;
    ROM0B:      start =  $CB0000, size = $10000, fill = yes;
    ROM0C:      start =  $CC0000, size = $10000, fill = yes;
    ROM0D:      start =  $CD0000, size = $10000, fill = yes;
    ROM0E:      start =  $CE0000, size = $10000, fill = yes;
    ROM0F:      start =  $CF0000, size = $10000, fill = yes;
    
    ROM10:      start =  $D00000, size = $10000, fill = yes;
    ROM11:      start =  $D10000, size = $10000, fill = yes;
    ROM12:      start =  $D20000, size = $10000, fill = yes;
    ROM13:      start =  $D30000, size = $10000, fill = yes;
    ROM14:      start =  $D40000, size = $10000, fill = yes;
    ROM15:      start =  $D50000, size = $10000, fill = yes;
    ROM16:      start =  $D60000, size = $10000, fill = yes;
    ROM17:      start =  $D70000, size = $10000, fill = yes;
    ROM18:      start =  $D80000, size = $10000, fill = yes;
    ROM19:      start =  $D90000, size = $10000, fill = yes;
    ROM1A:      start =  $DA0000, size = $10000, fill = yes;
    ROM1B:      start =  $DB0000, size = $10000, fill = yes;
    ROM1C:      start =  $DC0000, size = $10000, fill = yes;
    ROM1D:      start =  $DD0000, size = $10000, fill = yes;
    ROM1E:      start =  $DE0000, size = $10000, fill = yes;
    ROM1F:      start =  $DF0000, size = $10000, fill = yes;
    
    ROM20:      start =  $E00000, size = $10000, fill = yes;
    ROM21:      start =  $E10000, size = $10000, fill = yes;
    ROM22:      start =  $E20000, size = $10000, fill = yes;
    ROM23:      start =  $E30000, size = $10000, fill = yes;
    ROM24:      start =  $E40000, size = $10000, fill = yes;
    ROM25:      start =  $E50000, size = $10000, fill = yes;
    ROM26:      start =  $E60000, size = $10000, fill = yes;
    ROM27:      start =  $E70000, size = $10000, fill = yes;
    ROM28:      start =  $E80000, size = $10000, fill = yes;
    ROM29:      start =  $E90000, size = $10000, fill = yes;
    ROM2A:      start =  $EA0000, size = $10000, fill = yes;
    ROM2B:      start =  $EB0000, size = $10000, fill = yes;
    ROM2C:      start =  $EC0000, size = $10000, fill = yes;
    ROM2D:      start =  $ED0000, size = $10000, fill = yes;
    ROM2E:      start =  $EE0000, size = $10000, fill = yes;
    ROM2F:      start =  $EF0000, size = $10000, fill = yes;
    
    ROM30:      start =  $F00000, size = $10000, fill = yes;
    ROM31:      start =  $F10000, size = $10000, fill = yes;
    ROM32:      start =  $F20000, size = $10000, fill = yes;
    ROM33:      start =  $F30000, size = $10000, fill = yes;
    ROM34:      start =  $F40000, size = $10000, fill = yes;
    ROM35:      start =  $F50000, size = $10000, fill = yes;
    ROM36:      start =  $F60000, size = $10000, fill = yes;
    ROM37:      start =  $F70000, size = $10000, fill = yes;
    ROM38:      start =  $F80000, size = $10000, fill = yes;
    ROM39:      start =  $F90000, size = $10000, fill = yes;
    ROM3A:      start =  $FA0000, size = $10000, fill = yes;
    ROM3B:      start =  $FB0000, size = $10000, fill = yes;
    ROM3C:      start =  $FC0000, size = $10000, fill = yes;
    ROM3D:      start =  $FD0000, size = $10000, fill = yes;
    ROM3E:      start =  $FE0000, size = $10000, fill = yes;
    ROM3F:      start =  $FF0000, size = $10000, fill = yes;

    
    ROM40:      start =  $400000, size =  $FFA0, fill = yes;
    JMPTBL:     start =  $00FFA0, size =    $20, fill = yes;
    HDR:        start =  $00FFC0, size =    $20, fill = yes;
    VEC:        start =  $00FFE0, size =    $20, fill = yes;

    ROM41:      start =  $410000, size = $10000, fill = yes;
    ROM42:      start =  $420000, size = $10000, fill = yes;
    ROM43:      start =  $430000, size = $10000, fill = yes;
    ROM44:      start =  $440000, size = $10000, fill = yes;
    ROM45:      start =  $450000, size = $10000, fill = yes;
    ROM46:      start =  $460000, size = $10000, fill = yes;
    ROM47:      start =  $470000, size = $10000, fill = yes;
    ROM48:      start =  $480000, size = $10000, fill = yes;
    ROM49:      start =  $490000, size = $10000, fill = yes;
    ROM4A:      start =  $4A0000, size = $10000, fill = yes;
    ROM4B:      start =  $4B0000, size = $10000, fill = yes;
    ROM4C:      start =  $4C0000, size = $10000, fill = yes;
    ROM4D:      start =  $4D0000, size = $10000, fill = yes;
    ROM4E:      start =  $4E0000, size = $10000, fill = yes;
    ROM4F:      start =  $4F0000, size = $10000, fill = yes;
    
    ROM50:      start =  $500000, size = $10000, fill = yes;
    ROM51:      start =  $510000, size = $10000, fill = yes;
    ROM52:      start =  $520000, size = $10000, fill = yes;
    ROM53:      start =  $530000, size = $10000, fill = yes;
    ROM54:      start =  $540000, size = $10000, fill = yes;
    ROM55:      start =  $550000, size = $10000, fill = yes;
    ROM56:      start =  $560000, size = $10000, fill = yes;
    ROM57:      start =  $570000, size = $10000, fill = yes;
    ROM58:      start =  $580000, size = $10000, fill = yes;
    ROM59:      start =  $590000, size = $10000, fill = yes;
    ROM5A:      start =  $5A0000, size = $10000, fill = yes;
    ROM5B:      start =  $5B0000, size = $10000, fill = yes;
    ROM5C:      start =  $5C0000, size = $10000, fill = yes;
    ROM5D:      start =  $5D0000, size = $10000, fill = yes;
    ROM5E:      start =  $5E0000, size = $10000, fill = yes;
    ROM5F:      start =  $5F0000, size = $10000, fill = yes;
    
    ROM60:      start =  $600000, size = $10000, fill = yes;
    ROM61:      start =  $610000, size = $10000, fill = yes;
    ROM62:      start =  $620000, size = $10000, fill = yes;
    ROM63:      start =  $630000, size = $10000, fill = yes;
    ROM64:      start =  $640000, size = $10000, fill = yes;
    ROM65:      start =  $650000, size = $10000, fill = yes;
    ROM66:      start =  $660000, size = $10000, fill = yes;
    ROM67:      start =  $670000, size = $10000, fill = yes;
    ROM68:      start =  $680000, size = $10000, fill = yes;
    ROM69:      start =  $690000, size = $10000, fill = yes;
    ROM6A:      start =  $6A0000, size = $10000, fill = yes;
    ROM6B:      start =  $6B0000, size = $10000, fill = yes;
    ROM6C:      start =  $6C0000, size = $10000, fill = yes;
    ROM6D:      start =  $6D0000, size = $10000, fill = yes;
    ROM6E:      start =  $6E0000, size = $10000, fill = yes;
    ROM6F:      start =  $6F0000, size = $10000, fill = yes;
    
    ROM70:      start =  $700000, size = $10000, fill = yes;
    ROM71:      start =  $710000, size = $10000, fill = yes;
    ROM72:      start =  $720000, size = $10000, fill = yes;
    ROM73:      start =  $730000, size = $10000, fill = yes;
    ROM74:      start =  $740000, size = $10000, fill = yes;
    ROM75:      start =  $750000, size = $10000, fill = yes;
    ROM76:      start =  $760000, size = $10000, fill = yes;
    ROM77:      start =  $770000, size = $10000, fill = yes;
    ROM78:      start =  $780000, size = $10000, fill = yes;
    ROM79:      start =  $790000, size = $10000, fill = yes;
    ROM7A:      start =  $7A0000, size = $10000, fill = yes;
    ROM7B:      start =  $7B0000, size = $10000, fill = yes;
    ROM7C:      start =  $7C0000, size = $10000, fill = yes;
    ROM7D:      start =  $7D0000, size = $10000, fill = yes;
    unused1:    start =  $3E0000, size =  $8000, fill = yes;
    ROM7E:      start =  $3E8000, size =  $8000, fill = yes;
    unused2:    start =  $3F0000, size =  $8000, fill = yes;
    ROM7F:      start =  $3F8000, size =  $8000, fill = yes;
}

# Logical areas code/data can be put into.
SEGMENTS {
    # Read-only areas for main CPU
    CODE:       load = ROM0, align = $100;
    RODATA:     load = ROM0, align = $100;

    INIT:       load = INIT;
    SNIPERENGINE:   load = SE, align = $100;

    VECTORTABLE:load = JMPTBL;
    SNESHEADER: load = HDR;
    VECTORS:    load = VEC;


    ### FAST ROM BANKS ###
    BANK_C1:    load = ROM01, optional = yes;
    BANK_C2:    load = ROM02, optional = yes;
    BANK_C3:    load = ROM03, optional = yes;
    BANK_C4:    load = ROM04, optional = yes;
    BANK_C5:    load = ROM05, optional = yes;
    BANK_C6:    load = ROM06, optional = yes;
    BANK_C7:    load = ROM07, optional = yes;
    BANK_C8:    load = ROM08, optional = yes;
    BANK_C9:    load = ROM09, optional = yes;
    BANK_CA:    load = ROM0A, optional = yes;
    BANK_CB:    load = ROM0B, optional = yes;
    BANK_CC:    load = ROM0C, optional = yes;
    BANK_CD:    load = ROM0D, optional = yes;
    BANK_CE:    load = ROM0E, optional = yes;
    BANK_CF:    load = ROM0F, optional = yes;

    BANK_D0:    load = ROM10, optional = yes;
    BANK_D1:    load = ROM11, optional = yes;
    BANK_D2:    load = ROM12, optional = yes;
    BANK_D3:    load = ROM13, optional = yes;
    BANK_D4:    load = ROM14, optional = yes;
    BANK_D5:    load = ROM15, optional = yes;
    BANK_D6:    load = ROM16, optional = yes;
    BANK_D7:    load = ROM17, optional = yes;
    BANK_D8:    load = ROM18, optional = yes;
    BANK_D9:    load = ROM19, optional = yes;
    BANK_DA:    load = ROM1A, optional = yes;
    BANK_DB:    load = ROM1B, optional = yes;
    BANK_DC:    load = ROM1C, optional = yes;
    BANK_DD:    load = ROM1D, optional = yes;
    BANK_DE:    load = ROM1E, optional = yes;
    BANK_DF:    load = ROM1F, optional = yes;

    BANK_E0:    load = ROM20, optional = yes;
    BANK_E1:    load = ROM21, optional = yes;
    BANK_E2:    load = ROM22, optional = yes;
    BANK_E3:    load = ROM23, optional = yes;
    BANK_E4:    load = ROM24, optional = yes;
    BANK_E5:    load = ROM25, optional = yes;
    BANK_E6:    load = ROM26, optional = yes;
    BANK_E7:    load = ROM27, optional = yes;
    BANK_E8:    load = ROM28, optional = yes;
    BANK_E9:    load = ROM29, optional = yes;
    BANK_EA:    load = ROM2A, optional = yes;
    BANK_EB:    load = ROM2B, optional = yes;
    BANK_EC:    load = ROM2C, optional = yes;
    BANK_ED:    load = ROM2D, optional = yes;
    BANK_EE:    load = ROM2E, optional = yes;
    BANK_EF:    load = ROM2F, optional = yes;

    BANK_F0:    load = ROM30, optional = yes;
    BANK_F1:    load = ROM31, optional = yes;
    BANK_F2:    load = ROM32, optional = yes;
    BANK_F3:    load = ROM33, optional = yes;
    BANK_F4:    load = ROM34, optional = yes;
    BANK_F5:    load = ROM35, optional = yes;
    BANK_F6:    load = ROM36, optional = yes;
    BANK_F7:    load = ROM37, optional = yes;
    BANK_F8:    load = ROM38, optional = yes;
    BANK_F9:    load = ROM39, optional = yes;
    BANK_FA:    load = ROM3A, optional = yes;
    BANK_FB:    load = ROM3B, optional = yes;
    BANK_FC:    load = ROM3C, optional = yes;
    BANK_FD:    load = ROM3D, optional = yes;
    BANK_FE:    load = ROM3E, optional = yes;
    BANK_FF:    load = ROM3F, optional = yes;

    
    ### SLOW ROM BANKS ### put dma-able stuff in here
    BANK_40:    load = ROM40, optional = yes;
    BANK_41:    load = ROM41, optional = yes;
    BANK_42:    load = ROM42, optional = yes;
    BANK_43:    load = ROM43, optional = yes;
    BANK_44:    load = ROM44, optional = yes;
    BANK_45:    load = ROM45, optional = yes;
    BANK_46:    load = ROM46, optional = yes;
    BANK_47:    load = ROM47, optional = yes;
    BANK_48:    load = ROM48, optional = yes;
    BANK_49:    load = ROM49, optional = yes;
    BANK_4A:    load = ROM4A, optional = yes;
    BANK_4B:    load = ROM4B, optional = yes;
    BANK_4C:    load = ROM4C, optional = yes;
    BANK_4D:    load = ROM4D, optional = yes;
    BANK_4E:    load = ROM4E, optional = yes;
    BANK_4F:    load = ROM4F, optional = yes;

    BANK_50:    load = ROM50, optional = yes;
    BANK_51:    load = ROM51, optional = yes;
    BANK_52:    load = ROM52, optional = yes;
    BANK_53:    load = ROM53, optional = yes;
    BANK_54:    load = ROM54, optional = yes;
    BANK_55:    load = ROM55, optional = yes;
    BANK_56:    load = ROM56, optional = yes;
    BANK_57:    load = ROM57, optional = yes;
    BANK_58:    load = ROM58, optional = yes;
    BANK_59:    load = ROM59, optional = yes;
    BANK_5A:    load = ROM5A, optional = yes;
    BANK_5B:    load = ROM5B, optional = yes;
    BANK_5C:    load = ROM5C, optional = yes;
    BANK_5D:    load = ROM5D, optional = yes;
    BANK_5E:    load = ROM5E, optional = yes;
    BANK_5F:    load = ROM5F, optional = yes;

    BANK_60:    load = ROM60, optional = yes;
    BANK_61:    load = ROM61, optional = yes;
    BANK_62:    load = ROM62, optional = yes;
    BANK_63:    load = ROM63, optional = yes;
    BANK_64:    load = ROM64, optional = yes;
    BANK_65:    load = ROM65, optional = yes;
    BANK_66:    load = ROM66, optional = yes;
    BANK_67:    load = ROM67, optional = yes;
    BANK_68:    load = ROM68, optional = yes;
    BANK_69:    load = ROM69, optional = yes;
    BANK_6A:    load = ROM6A, optional = yes;
    BANK_6B:    load = ROM6B, optional = yes;
    BANK_6C:    load = ROM6C, optional = yes;
    BANK_6D:    load = ROM6D, optional = yes;
    BANK_6E:    load = ROM6E, optional = yes;
    BANK_6F:    load = ROM6F, optional = yes;

    BANK_70:    load = ROM70, optional = yes;
    BANK_71:    load = ROM71, optional = yes;
    BANK_72:    load = ROM72, optional = yes;
    BANK_73:    load = ROM73, optional = yes;
    BANK_74:    load = ROM74, optional = yes;
    BANK_75:    load = ROM75, optional = yes;
    BANK_76:    load = ROM76, optional = yes;
    BANK_77:    load = ROM77, optional = yes;
    BANK_78:    load = ROM78, optional = yes;
    BANK_79:    load = ROM79, optional = yes;
    BANK_7A:    load = ROM7A, optional = yes;
    BANK_7B:    load = ROM7B, optional = yes;
    BANK_7C:    load = ROM7C, optional = yes;
    BANK_7D:    load = ROM7D, optional = yes;

    # THE FIRST HALF OF THESE ARE INACCESSIBLE!
    BANK_7E:    load = ROM7E, optional = yes;
    BANK_7F:    load = ROM7F, optional = yes;

    # Areas for variables for main CPU
    REGISTERS:  load = REGISTERS, type = zp, define=yes;
    ZEROPAGE:   load = ZEROPAGE, type = zp, define=yes;
    BSS:        load = RAM, type = bss, optional=yes;
    SAVERAM:    load = SRAM, type = bss, optional=yes;
    HIRAM1:     load = HIRAM1, type = bss, optional=yes;
    HIRAM2:     load = HIRAM2, type = bss, optional=yes;
}