# ca65 linker config for 256k sfc rom

# Physical areas of memory
MEMORY {
    REGISTERS:  start =  $000000, size = $0020;
    ZEROPAGE:   start =  $000020, size = $00E0;
    RAM:        start =  $800100, size = $1E00;
    HIRAM1:     start =  $7E2000, size = $E000;
    HIRAM2:     start =  $7F0000, size =$10000;

    # hi/fastROM
    ROM0:       start =  $C00000, size =  $8000, fill = yes;
    INIT:       start =  $C08000, size =  $1000, fill = yes;
    SE:         start =  $809000, size =  $6FC0, fill = yes;
    HDR:        start =  $80FFC0, size =    $20, fill = yes;
    VEC:        start =  $80FFE0, size =    $20, fill = yes;

    ROM01:      start =  $C10000, size = $10000, fill = yes;
    ROM02:      start =  $C20000, size = $10000, fill = yes;
    ROM03:      start =  $C30000, size = $10000, fill = yes;
    ROM04:      start =  $C40000, size = $10000, fill = yes;
    ROM05:      start =  $C50000, size = $10000, fill = yes;
    ROM06:      start =  $C60000, size = $10000, fill = yes;
    ROM07:      start =  $C70000, size = $10000, fill = yes;
    ROM08:      start =  $C80000, size = $10000, fill = yes;
    ROM09:      start =  $C90000, size = $10000, fill = yes;
    ROM0A:      start =  $CA0000, size = $10000, fill = yes;
    ROM0B:      start =  $CB0000, size = $10000, fill = yes;
    ROM0C:      start =  $CC0000, size = $10000, fill = yes;
    ROM0D:      start =  $CD0000, size = $10000, fill = yes;
    ROM0E:      start =  $CE0000, size = $10000, fill = yes;
    ROM0F:      start =  $CF0000, size = $10000, fill = yes;
}

# Logical areas code/data can be put into.
SEGMENTS {
    # Read-only areas for main CPU
    CODE:       load = ROM0, align = $100;
    RODATA:     load = ROM0, align = $100;

    INIT:       load = INIT;
    SNIPERENGINE:   load = SE, align = $100;

    SNESHEADER: load = HDR;
    VECTORS:    load = VEC;

    BANK_C1:    load = ROM01, optional = yes;
    BANK_C2:    load = ROM02, optional = yes;
    BANK_C3:    load = ROM03, optional = yes;
    BANK_C4:    load = ROM04, optional = yes;
    BANK_C5:    load = ROM05, optional = yes;
    BANK_C6:    load = ROM06, optional = yes;
    BANK_C7:    load = ROM07, optional = yes;
    BANK_C8:    load = ROM08, optional = yes;
    BANK_C9:    load = ROM09, optional = yes;
    BANK_CA:    load = ROM0A, optional = yes;
    BANK_CB:    load = ROM0B, optional = yes;
    BANK_CC:    load = ROM0C, optional = yes;
    BANK_CD:    load = ROM0D, optional = yes;
    BANK_CE:    load = ROM0E, optional = yes;
    BANK_CF:    load = ROM0F, optional = yes;

    # Areas for variables for main CPU
    REGISTERS:  load = REGISTERS, type = zp, define=yes;
    ZEROPAGE:   load = ZEROPAGE, type = zp, define=yes;
    BSS:        load = RAM, type = bss, optional=yes;
    HIRAM1:     load = HIRAM1, type = bss, optional=yes;
    HIRAM2:     load = HIRAM2, type = bss, optional=yes;
}