# ca65 linker config for 256k sfc rom

# Physical areas of memory
MEMORY {
    REGISTERS:  start =  $000000, size = $0020;
    ZEROPAGE:   start =  $000020, size = $00E0;
    RAM:        start =  $000200, size = $1E00;
    HIRAM1:     start =  $7E2000, size = $E000;
    HIRAM2:     start =  $7F0000, size =$10000;

    # hi/fastROM
    ROM0:       start =  $C00000, size =  $8000, fill = yes;
    INIT:       start =  $C08000, size =  $1000, fill = yes;
    SE:         start =  $809000, size =  $6FC0, fill = yes;
    HDR:        start =  $80FFC0, size =    $20, fill = yes;
    VEC:        start =  $80FFE0, size =    $20, fill = yes;

    ROM1:       start =  $C10000, size = $10000, fill = yes;
    ROM2:       start =  $C20000, size = $10000, fill = yes;
    ROM3:       start =  $C30000, size = $10000, fill = yes;
}

# Logical areas code/data can be put into.
SEGMENTS {
    # Read-only areas for main CPU
    CODE:       load = ROM0, align = $100;
    RODATA:     load = ROM0, align = $100;

    INIT:       load = INIT;
    SNIPERENGINE:   load = SE;

    SNESHEADER: load = HDR;
    VECTORS:    load = VEC;

    BANKC1:     load = ROM1, start = $C10000, optional = yes;
    BANKC2:     load = ROM1, optional = yes;
    BANKC3:     load = ROM1, optional = yes;

    # Areas for variables for main CPU
    REGISTERS:  load = REGISTERS, type = zp, define=yes;
    ZEROPAGE:   load = ZEROPAGE, type = zp, define=yes;
    RAM:        load = RAM, type = bss, align = $100, optional=yes;
    HIRAM1:      load = HIRAM1, type = bss, align = $100, optional=yes;
    HIRAM2:      load = HIRAM2, type = bss, align = $100, optional=yes;

}